a{
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    background-image: url(../images/best_place.jpg);
    background-size: cover;
    font-family: playfair;
        padding:0;
    margin: 0;
    font: 8pt sans-serif, Arial, Tahoma;
}

.main {
    width:350px;
    margin: 120px auto;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    text-align:center;
    padding:23px;
}
h3 {
    font-size:1.6em;
    margin: 0.8em 0;
}

h5 {
    font-size:1em;
    margin: 0.1em;
}
#content {
    position: relative;
    margin: 0 auto;
    width:960px;
    min-width:800px;
}

#left {
    position:absolute;
    top:0px;
    left:0px;
    padding:2px;
    width:220px;
    height:560px;
}

#photo {
    position:relative;
    margin: 0;
    padding: 0;
    width:200px;
    height:250px;
    background:url(../i/avatar.jpg) left top no-repeat;
}

div#photo img {
    position: relative;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 250px;
    display: none;
}

#accordion {
    position:relative;
    margin-top:10px;
    margin-left:0px;
    padding:2px;
    width:200px;
}

#social {
    position:absolute;
    top: 600px;
left: 230px;
    padding:2px;
    width:450px;
height: 50px;
}

#right {
    position:absolute;
    top:0px;
    left:230px;
    padding:2px;
    width: 720px;
    height:550px;   
}

#info {
    position:relative;
    margin-top:0px;
    margin-left:0px;
    padding:2px;
    width:700px;
    height:370px;
}

.main-text {
    font-size:1.5em;
}

.error {
    color:red;
    margin-left: 20px;
    font-size:0.8em;
}

#feedback-result {
    color: green;
    margin-left: 20px;
    font-size:0.8em;
}

.link-to-fun {
    background-color: #f0f0f0;
    border: 1px dotted grey;
    border-radius: 5px;
}

#sobesed {
    position: absolute;
    top:200px;
    left: -610px;
    width:604px;
    height: 432px;
    background: url("../i/sobes.jpeg") left top no-repeat;
}

.stars {
  width: 800px;
  height: 600px;
  position: absolute;
  left: 0px;
  top: 0px;
  display:none;
}

#stars-1 {
  background: url("../i/stars-1.png");
}
#stars-2 {
  background: url("../i/stars-2.png");
}
