
.footer {
    text-align: center;
    background-color: #000;
    width:350px;
    color:white;
  bottom: 0;
}
body{
  background-size: cover;
}
#header{
    width: 100%;
    height: 90px;
    text-align:center;
    font-weight: 600px;
    font-size:60px;
}
.main nav {
    width: 100%;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.main nav a {
    color:black;
    padding-left: 30px;
    padding-right: 30px;
        color:white;
}
.main nav a:hover {
    color:red;
}
.buttons{
    width: 100%;
    padding: 30px;
    text-align:center;
    margin-left: 10px;
    margin-top: 10px;
}

#wrapper, h4{
    margin: 0 auto;
}
.shop-new {
    padding: 0 10px;
    position: absolute;
    margin-left: 215.5px;
    background: rgba(0, 0, 0, 0.68);
    line-height: 46px;
    text-align: center;
    color: #fff;
    z-index: 30;
    font-weight: 700;
    font-size: 15px;
}
.shop-rub {
    padding: 0 20px;
    height: 46px;
    position: absolute;
    background: #000;
    line-height: 46px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    z-index: 30;
}
.footer {
  height: 100%;
    width:100%;
    text-align: center;
    background-color: #000;

}
.panels-shop{
    margin-top: 25px;
    color:black;
 background-color: rgba(255,255,255,.15);
    text-align: center;
  border:1px solid black;
    width:370px;
    height:370px;
    margin: 20px auto;
}
.main-panel{
  background-color:black;
  padding:10px; 
  text-align: center;
}
a{
  text-transform: uppercase;
}
.link-main{
  border:1px black solid;
}
.link2-main{
  border:1px white solid;
}
.image{
  width:116px;
  height:230px;
  margin-top:30px
}
.image2{
  width:248px;
  height:208.31px;
  margin-top:30px
}
.link{
    width: 45px; 
    height: 45px;
    line-height: 46px;
    padding: 15px;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.link:hover{
    width: 45px; 
    height: 45px;
    line-height: 46px;
    padding: 15px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .5s ease;
    background-color: black;
}
.link2{
    line-height: 30px;
    color: white;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}
.link2:hover{
    line-height: 30px;
    color: black;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .5s ease;
    background-color: white;
}
.link3{
    color: white;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}
.link3:hover{
    color: black;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .5s ease;
    background-color: white;

}
.main-divs-shop {
    width:350px;
    height: 350px;
    margin: 20px auto;
      background-color:white;
}
.panel2{
    color:black;
    border:1px solid black;
    width:80%;
    margin: 20px auto;
    padding:20px;
}
.mainmenubtn {
    color: white;
}
.mainmenubtn:hover {
    color: black;
}
.dropdown1 {
    position: relative;
    display: inline-block;
        color: white;
}
.dropdown-child {
    display: none;
    background-color: black;
    min-width: 200px;
}
.dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}

.dropdown1:hover .dropdown-child {
    display: block;
}
.sub-menu 
{ 
   display: none; 
} 
.main-item:focus ~ .sub-menu, 
.main-item:active ~ .sub-menu, 
.sub-menu:hover 
{ 
   display: block; 
} 
.d:hover{
  display:none;
}
.fonts{
font-family: 'Courier New, monospace';
font-size:20px;
}
.font-main{
    font-size:50px;
    color:white;
}